<<<<<<< HEAD
.imgcontainer{
  display: flex;
}
img{
  max-width: 100%;
}
img.hidden{
  overflow: hidden;
  transition:overflow 3s;
}
img.visible{
  overflow: visible;
  transition:all 3s;
}

=======
>>>>>>> parent of 88a008b (slideshow working, testing transitions)
