.imgcontainer{
  display: flex;
}
.visible{
  max-width: 100%;
  border-radius: 3px;
}


.button{
  
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

}
mat-card-header{
  margin-bottom: 3px;
}
.card{
  display: block;

}





